MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=gardening_db
MYSQL_USER=gardenuser
MYSQL_PASSWORD=change-me
DB_HOST=mysql
DB_PORT=3306
DB_USER=gardenuser
DB_PASSWORD=change-me
DB_NAME=gardening_db
CORS_ALLOWED_ORIGINS=http://localhost
DB_CONNECT_RETRIES=10
DB_CONNECT_WAIT_SECONDS=3
